name: Dotfiles CI

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install chezmoi and apply dotfiles
        run: |
          brew install chezmoi
          chezmoi init --apply --source=$GITHUB_WORKSPACE
